*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.15;
  color: #303133;
  background-color: #fff;
}

a {
  color: mix(#fff, $--color-primary, 20%);
  text-decoration: none;

  &:focus,
  &:hover {
    color: $--color-primary;
    text-decoration: underline;
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
}


/* Utils
------------------------------ */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}


/* Animation
------------------------------ */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}


/* Reset element-ui
------------------------------ */
.site-wrapper {
  .el-pagination {
    text-align: right;
  }
}


/* Layout
------------------------------ */
.site-wrapper {
  position: relative;
  min-width: 1180px;
}


/* Sidebar fold
------------------------------ */
.site-sidebar--fold {

  .site-navbar__header,
  .site-navbar__brand,
  .site-sidebar,
  .site-sidebar__inner,
  .el-menu.site-sidebar__menu {
    width: 64px;
  }

  .site-navbar__body,
  .site-content__wrapper {
    margin-left: 64px;
  }

  .site-navbar__brand {
    &-lg {
      display: none;
    }

    &-mini {
      display: inline-block;
    }
  }

  .site-sidebar,
  .site-sidebar__inner {
    overflow: initial;
  }

  .site-sidebar__menu-icon {
    margin-right: 0;
    font-size: 20px;
  }

  .site-content--tabs>.el-tabs>.el-tabs__header {
    left: 64px;
  }
}

// animation
.site-navbar__header,
.site-navbar__brand,
.site-navbar__body,
.site-sidebar,
.site-sidebar__inner,
.site-sidebar__menu.el-menu,
.site-sidebar__menu-icon,
.site-content__wrapper,
.site-content--tabs>.el-tabs .el-tabs__header {
  transition: inline-block .3s, left .3s, width .3s, margin-left .3s, font-size .3s;
}


/* Navbar
------------------------------ */
.site-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08);

  &--inverse {
    .site-navbar__body {
      background-color: transparent;
    }

    .el-menu {

      >.el-menu-item,
      >.el-submenu>.el-submenu__title {
        color: #fff;

        &:focus,
        &:hover {
          color: #fff;
          background-color: mix(#000, $navbar--background-color, 15%);
        }
      }

      >.el-menu-item.is-active,
      >.el-submenu.is-active>.el-submenu__title {
        border-bottom-color: mix(#fff, $navbar--background-color, 85%);
      }

      .el-menu-item i,
      .el-submenu__title i,
      .el-dropdown {
        color: #fff;
      }
    }

    .el-menu--popup-bottom-start {
      background-color: $navbar--background-color;
    }
  }

  &__header {
    position: relative;
    float: left;
    width: 230px;
    height: 60px;
    overflow: hidden;
  }

  &__brand {
    display: table-cell;
    vertical-align: middle;
    width: 230px;
    height: 60px;
    margin: 0;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;

    &-lg,
    &-mini {
      margin: 0 5px;
      color: #fff;

      &:focus,
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }

    &-mini {
      display: none;
    }
  }

  &__switch {
    font-size: 18px;
    border-bottom: none !important;
  }

  &__avatar {
    border-bottom: none !important;

    * {
      vertical-align: inherit;
    }

    .el-dropdown-link {
      >img {
        width: 36px;
        height: auto;
        margin-right: 5px;
        border-radius: 100%;
        vertical-align: middle;
      }
    }
  }

  &__body {
    position: relative;
    margin-left: 230px;
    padding-right: 15px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    float: left;
    background-color: transparent;
    border-bottom: 0;

    &--right {
      float: right;
    }

    a:focus,
    a:hover {
      text-decoration: none;
    }

    .el-menu-item,
    .el-submenu>.el-submenu__title {
      height: 60px;
      line-height: 60px;
    }

    .el-submenu>.el-menu {
      top: 55px;
    }

    .el-badge {
      display: inline;
      z-index: 2;

      &__content {
        line-height: 16px;
      }
    }
  }
}


/* Sidebar
------------------------------ */
.site-sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  z-index: 1020;
  width: 230px;
  overflow: hidden;

  &--dark,
  &--dark-popper {
    background-color: $sidebar--background-color-dark;

    .site-sidebar__menu.el-menu,
    >.el-menu--popup {
      background-color: $sidebar--background-color-dark;

      .el-menu-item,
      .el-submenu>.el-submenu__title {
        color: $sidebar--color-text-dark;

        &:focus,
        &:hover {
          color: mix(#62C4F5, $sidebar--color-text-dark, 50%);
          background-color: mix(#62C4F5, $sidebar--background-color-dark, 2.5%);
        }
      }

      .el-menu,
      .el-submenu.is-opened {
        background-color: #243138;
      }

      .el-menu-item.is-active,
      .el-submenu.is-active>.el-submenu__title {
        color: mix(#62C4F5, $sidebar--color-text-dark, 80%);
      }
    }
  }

  &__inner {
    position: relative;
    z-index: 1;
    width: 260px;
    height: 100%;
    padding-bottom: 15px;
    overflow-y: scroll;
  }

  &__menu.el-menu {
    width: 230px;
    border-right: 0;
  }

  &__menu-icon {
    width: 24px;
    margin-right: 5px;
    text-align: center;
    font-size: 16px;
    color: inherit !important;
  }
}

.el-menu-item.is-active {
  font-weight: bold;
}

.el-menu.el-menu--horizontal {
  border-bottom: none !important;
}

.el-menu--horizontal>.el-menu-item {
  border-bottom: none !important;
}

.el-menu--horizontal>.el-menu-item.is-active {

  position: relative;
  color: #222;

  &:after {
    content: '';
    position: absolute;
    width: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10px;
    height: 3px;
    border-radius: 100px;
    background-color: #19B2FF;

  }
}

/* Content
------------------------------ */
.site-content {
  position: relative;
  padding: 15px;

  &__wrapper {
    position: relative;
    padding-top: 60px;
    min-height: 100%;

  }

  &__wrapper-module {
    margin-left: 230px;
    background: $content--background-color;
  }

  &--tabs {
    padding: 55px 0 0;
  }

  >.el-tabs {
    >.el-tabs__header {
      position: fixed;
      top: 60px;
      left: 230px;
      right: 0;
      z-index: 930;
      padding: 0 55px 0 15px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
      background-color: #fff;

      >.el-tabs__nav-wrap {
        margin-bottom: 0;

        &:after {
          display: none;
        }
      }
    }

    >.el-tabs__content {
      padding: 0 15px 15px;

      >.site-tabs__tools {
        position: fixed;
        top: 60px;
        right: 0;
        z-index: 931;
        height: 40px;
        padding: 0 12px;
        font-size: 16px;
        line-height: 40px;
        background-color: $content--background-color;
        cursor: pointer;

        .el-icon--right {
          margin-left: 0;
        }
      }
    }
  }
}

/* 卡片商品按钮样式*/
.card-prod-bottom {
  position: relative;
  text-align: left;

  .card-prod-name {
    margin: auto;
    padding: 0 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 118px;
    display: inline-block;
  }

  .card-prod-name-button {
    position: absolute;
    top: 24px;
    right: 10px;
  }
}


.element-error-message-zindex {
  z-index: 3000 !important;
}



.el-dialog__header {
  background: #f8f8f8;
  border-bottom: 1px solid #eee;
}

.ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;


}

.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;


}

.el-tooltip__popper {
  width: 200px;
  line-height: 1.5;
}

.empty-tip {
  margin-top: 40px;
  color: #999;
  text-align: center;
  font-size: 56px;

  .empty-text {
    font-size: 14px;
  }
}

.trading-record {
  display: block;
  background: #f7f8fa;
  margin: 10px 0;
  padding: 10px 10px;
}

.record-txt {
  vertical-align: middle;
  font-weight: bold;
  font-size: 18px;
}

.blue {
  display: inline-block;
  width: 4px;
  height: 1.3em;
  background: #02a1e9;
  vertical-align: middle;
}

.avue-form__group--flex{
  align-items: center;
  .avue-form__menu--center{
    width: auto !important;
  }
}

.pt-20{
  padding-top: 20px;
}
.header-title{
	    padding: 2px 8px;
	    border-left: 4px solid #50bfff;
      font-size: 16px;
      font-weight: bold;
}
.el-card__header{
  font-weight: bold;
}