/* 个人中心-我的订单 */
.user-center .uc-order {
    font-size: 12px;
}
.user-center .uc-order .uc-nav .recycle-bin {
    position: relative;
    display: block;
    line-height: 16px;
    font-size: 12px;
    color: #999;
    cursor: pointer;
    padding-left: 20px;
}

.user-center .uc-order .uc-nav .recycle-bin::before {
    position: absolute;
    left: 0;
    top: 1px;
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    background: url(../../../assets/img/icons.png) no-repeat 0 -633px;
}

.user-center .uc-order .uc-nav .recycle-bin:hover {
    color: #e1251b;
}

.user-center .uc-order .uc-nav .recycle-bin:hover::before {
    background-position: -19px -633px;
}

/* 个人中心-我的订单 end */
